services:
  rclone:
    image: rclone/rclone:latest
    container_name: rclone
    restart: unless-stopped
    volumes:
      - ./rclone.conf:/config/rclone/rclone.conf:ro
    command: 'serve webdav opencloud: --addr 0.0.0.0:8080'
    network_mode: 'service:tailscale'
  tailscale:
    extends:
      file: ../../shared/tailscale.yaml
      service: tailscale
    hostname: rclone
