services:
  tailscale:
    extends:
      file: ../../shared/tailscale.yaml
      service: tailscale
    hostname: dashboard
  api:
    build:
      context: ./src/backend
      dockerfile: dockerfile
  frontend:
    build:
      context: ./src/frontend
      dockerfile: dockerfile
    depends_on:
      - api
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - api
    restart: always
    network_mode: service:tailscale