services:
  # 8123
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    restart: unless-stopped
    volumes:
      - ${PWD}/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    privileged: true
    network_mode: host
  # 6052
  esphome:
    container_name: esphome
    image: esphome/esphome
    volumes:
      - ${PWD}/esphome:/config
      - /etc/localtime:/etc/localtime:ro
    restart: always
    privileged: true
    network_mode: host
  # 10200
  piper:
    container_name: piper
    image: rhasspy/wyoming-piper
    volumes:
      - '${PWD}/piper/data:/data'
    # https://rhasspy.github.io/piper-samples/
    command: --voice en_US-ryan-medium
    network_mode: host
  # 10300
  whisper:
   container_name: whisper
   image: rhasspy/wyoming-whisper
   volumes:
     - '${PWD}/whisper/data:/data'
   command: --model small --language en --debug
   network_mode: host
  # 10400
  wake_word:
    container_name: wake_word
    image: rhasspy/wyoming-openwakeword
    restart: unless-stopped
    network_mode: host
    command:
      - --debug
      # Supported wake words include ok_nabu, hey_jarvis, alexa, hey_mycroft, hey_rhasspy, or a custom wake word
      - --preload-model
      - 'hey_jarvis' 
  # 10700
  satellite:
    build: 
      context: ./satellite-src
    container_name: satellite
    restart: unless-stopped
    volumes:
      - /dev/snd:/dev/snd
    privileged: true
    group_add:
      - "audio"
    command: >
      --debug
      --name 'satellite'
      --uri 'tcp://0.0.0.0:10700'
      --mic-command 'arecord -r 16000 -c 1 -f S16_LE -t raw'
      --snd-command 'aplay -r 22050 -c 1 -f S16_LE -t raw'
      --awake-wav 'sounds/awake.wav'
      --wake-uri 'tcp://127.0.0.1:10400'
      --wake-word-name 'hey_jarvis'
    network_mode: host